.Frase3{
  font-size: 20px;
  color:rgb(61, 61, 61);
  font-family: Arial;
  font-weight: bold;   
  text-align: center;  
  margin-top: 0;   
  
  }        

  .imagem-valida{
    margin-left: 50px;          
    width: 80%;          
  }

  .cpf-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;          
  }

  .input-grid{
    margin-top: 0px;
    height: 100px;
    width: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: #60ecff;
    border-radius: 25px 0px 25px 0px;
    padding: 0px 0px;    
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    }

  .input-flex{
    display: flex;
    margin-left: 5px;
  }

  .cpf{
    margin-right: 5px;
    margin-top: 23px;
    }
  
  .inputCpfOk{
    height: 30px;
    width: 150px;
    font-size: 18px;
    margin-top: 16px;
    border: 1px solid rgb(170, 170, 170); 
    background-color: rgb(131, 247, 208);;
  }

  .inputCpfInvalido{
    height: 30px;
    width: 150px;
    font-size: 18px;
    margin-top: 16px;
    border: 1px solid rgb(170, 170, 170); 
    background-color: rgb(255, 195, 195);;
  }

  .input{
    height: 30px;
    width: 150px;
    font-size: 18px;
    margin-top: 16px;
    border: 1px solid rgb(170, 170, 170);    
    background-color: white;
  }

  .Response{
    margin-bottom: 25px;
    margin-top: 0px;
    color:rgb(61, 61, 61)
  }

  .input:focus {
    border: 1px solid #60b2ff;
    outline: none;
    box-shadow: inset 1px 2px 2px 
    rgba(0, 0, 0, 0.1);
  }

  .button {
    height: 34px;
    margin-top: 16px;
    margin-left: 10px;
    border-color: #60ecff; 
    background-color: rgb(197, 237, 255);
    color: #004d95;
    font-size: 15px;
  }

  